.community{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.community-posts {
  height: 78vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll; 
  overflow-x:hidden

}

.search-posts {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}
.searchUsers {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}


.community input {
  width: 20%;
}

.communityusers {
  /* border: 2px solid green; */
  height: 82vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: scroll; 
  overflow-x:hidden

}


.comm-btn {
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 300 ;
  color: white;
  background: none;
  border: 1px solid #FFAA00;
  color: #FFAA00;
  height: 2rem;
  width: 5rem;
  margin-left: 0.5rem;
}

.avatarbtn {
  border: none;
}

.likebtn {
  border: none;
  display: flex;
  color: #FFAA00;
}

.community h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 200;
  color: gray;
  text-align: right;
}