.community{
  width: 75%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.community-posts {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll; 
  overflow-x:hidden

}

.search-posts {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}
.searchUsers {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.community button {
  width: 10%;
  height: 10%;
}

.community input {
  width: 20%;
}

.communityusers {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow-y: scroll; 
  overflow-x:hidden
}

.community button {
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 300 ;
  color: white;
  background: none;
  border: 1px solid #FFAA00;
  color: #FFAA00;
  height: 1.5rem;
  width: 5rem;
  margin-left: 0.5rem;
}

.community h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 200;
  color: gray;
  text-align: right;
}