@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,500,700');
* {
  background: white;
  box-sizing: border-box;
  padding: 0;
}

.landing {
  height: 100%;
  display: flex;

}

.login-signup {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
}

.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-image {
  width: 50%;
}

.trvlr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.trvlr h1 {
  font-weight: 400 ;
  font-size: 8rem;
  font-family: 'Roboto', sans-serif;
  color: #FFAA00;
}

.login-signup h4 {
  font-weight: 400 ;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #FFAA00;
}

.login-signup button {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 400 ;
  color: white;
  background: #FFAA00;
  border: none;
  margin: 1%;
  height: 2.5rem;
  width: 15rem;
}
