.communityUsers {
  width: 50%;
  animation-name: fade-in;
  animation-duration: 1s
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.communityUsers{
  border: 1px solid #FFAA00;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 0.75rem;
}

.userImage {
  width:8rem;
  height: 8rem;
  margin-bottom: 0.5rem;
}

.communityUsers h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: black;
  margin-bottom: 0.25rem;
}



.userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.commuser-location{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.communityUsers p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: #808080;
  margin-bottom: 0.25rem;
}


.communityUsers button {
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 300 ;
  color: white;
  background: none;
  border: 1px solid #FFAA00;
  color: #FFAA00;
  height: 1.5rem;
  width: 5rem;
  margin-top: 0.5rem;
}