@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,500,700');
* {
  background: white;
  box-sizing: border-box;
  padding: 0;

}

.userPost {
  width: 75%;;
  height: 15rem;
  border: 1px solid #FFAA00;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: flex;
  animation-name: fade-in;
  animation-duration: 1s

}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.userPost h1 {
  height: 40%;
  margin-top: 0.5rem;
  font-size: 2rem;
  text-transform: none;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: gray;
}

.userPost p {
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-weight: 200;
  font-size: 0.8rem;


}

.userpostimage {
  /* border: 2px solid red; */
  width: 50%;

}

.userpostimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userposttext{
  height: 100%;
  width: 50%;
  margin-left: 1rem;

}

.like-date{
  display: flex;
  justify-content: space-between;
}

.userpost-btn {

  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.userpost-btn button {
  margin: 0.25rem;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 300 ;
  color: white;
  background: none;
  border: 1px solid #FFAA00;
  color: black;
  height: 1.5rem;
  width: 5rem;
}

.posttext {
  /* border: 2px solid pink; */
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}


