@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300:400,500,700");

* {
  box-sizing: border-box;
  padding: 0;
}

.Nav {
  width: 25%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


.greeting-links {
  height: 100%;
}

.greeting-links h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.nav-location{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-location i {
  margin-right: 0.5rem;
}

#links {
  display: flex;
  align-items: flex-start;
}

.nav-links {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-links a {
  color: gray;
  text-decoration: none;
}

.Nav button {
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  font-weight: 300;
  color: white;
  background: none;
  border: 1px solid #ffaa00;
  color: #ffaa00;
  margin-top: 0.5rem;
  height: 1.5rem;
  width: 5rem;
}
