* {
  box-sizing: border-box;
  padding: 0;
}

.Nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  left: 0

}



.Nav h1 {
  font-size: 2rem;
}

.Nav button {
  width: 10%;
}

.Nav a:Link {
  text-decoration: none;
  color: red;
}

