* {
  box-sizing: border-box;
  padding: 0;
}

.Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 1%;
  left: 0

}

.nav-links {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;

}

.logout  {
  position: absolute;
  right: 1%;
  top: 1%;
  height: 5vh;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

.Nav h1 {
  font-size: 2rem;
}

.Nav button {
  width: 10%;
}

.Nav a:Link {
  text-decoration: none;
  color: red;
  font-size: 1.5rem;
  background: black;
}

