@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300:400,500,700');

* {
  box-sizing: border-box;
  padding: 0;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  animation-name: fade-in;
  animation-duration: 1s
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.communityPostAll {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dashboard h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-weight: 200;
  color: gray;
  text-align: right;
  margin-right: 1rem;
}

