@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,500,700');
* {
  background: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  animation-name: fade-in;
  animation-duration: 1s
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.App {
  width: 98vw;
  height: 95vh;
  border: 8px solid #FFAA00;
  padding: 1%;
  margin: 1%;
}


