@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,500,700');
* {
  background: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}



.App {
  width: 98vw;
  height: 96vh;
  border: 8px solid #FFAA00;
  padding: 1%;
  margin: 1%;
  display: flex;
  overflow: hidden;
  
}

input:focus { 
  outline: none;
  border: 1px solid #FFAA00
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #FFAA00; 
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-thumb:window-inactive {
background: gray; 
}